{% extends 'base.html' %}

{% block content %}
<section id='home_description'>
  <h1>Welcome! This is my portfolio.</h1>
  <h2>I am a designer.</h2>
  <hr>
  <h3>Check out my projects below!</h3>
  <a id='home-arrow' href="/#portfolio"><span class=arrow></span></a>
</section>

    <section id="portfolio">
      <div id='lastcall_description'>
      <h3>LastCall</h3>
      <p>When I lived in NYC, I was an avid fan of the food-saving app Too Good to Go.</p>
      <p>It was founded in Denmark using a grassroots approach to collaborate with local restaurants and eateries, selling food that would have been discarded at a steep discount. I've trekked many miles in NYC using this app. </p>
      <p>LastCall reimagines food-saving apps and streamlines the user experience for an emerging model that is still unfamiliar to many.</p>
      <button type="button" name="button">Read the full case study</button>
      </div>

      <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="500" height="800" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FBowYQgOD2MHb1a5MwvYiwR%2FLastCall%3Fnode-id%3D30%253A171%26scaling%3Dscale-down%26page-id%3D0%253A1%26starting-point-node-id%3D123%253A38" allowfullscreen></iframe>
    </section>

{% endblock %}
