{% extends 'base.html' %}

{% block content %}
<section id='home_description'>
  <h1>Welcome! This is my portfolio.</h1>
  <h2>I am a designer.</h2>
  <hr>
  <h3>Check out my projects below!</h3>
  <a id='home-arrow' href="/#portfolio"><span class=arrow></span></a>
</section>

    <section id="portfolio">
      <div id='lastcall_description'>
      <h3>LastCall</h3>
      <p>When I lived in NYC, I was an avid fan of the food-saving app Too Good to Go.</p>
      <p>It was founded in Denmark using a grassroots approach to collaborate with local restaurants and eateries, selling food that would have been discarded at a steep discount. I've trekked many miles in NYC using this app. </p>
      <p>LastCall reimagines food-saving apps and streamlines the user experience for an emerging model that is still unfamiliar to many.</p>
      <button type="button" name="button">Read the full case study</button>
      </div>
      <img id='lastcall_prototype' src="./static/assets/lastcall_prototype.gif">
    </section>

{% endblock %}
